<div class="min-h-screen">
    <app-header (videoUrlChange)="onVideoUrlChange($event)"></app-header>

    <div class="main-content">
        @if(id){
            <div class="id-pop">
                <div  class="id-text">
                    <div>{{id}}</div>
                    <div>Copy & Share to your friends</div>
                </div>
                <div style="font-size: 30px;" (click)="onRemoveId()">❌</div>
            </div>
        }
        <div class="left-column">
            <app-video-sync [videoIdFromRoom]="currentVideoUrl"></app-video-sync>
            <!-- <app-playlist [videos]="playlist" (selectVideo)="onVideoUrlChange($event)"></app-playlist> -->
        </div>

        <div class="right-column">
            <app-chat></app-chat>
        </div>
    </div>
</div>
